name: Distribute to PyPI

on:
  push:
    tags:
      - v*

jobs:
  call-version-info-workflow:
    uses: ASFHyP3/actions/.github/workflows/reusable-version-info.yml@v0.6.0
    with:
      conda_env_name: edlfs
      python_version: '3.9'

  distribute:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: mamba-org/provision-with-micromamba@v14

      - name: Build distribution
        id: build
        run: |
          python -m build

      - name: upload to PyPI.org
        uses: pypa/gh-action-pypi-publish@v1.8.5
        with:
          user: __token__
          password: ${{ secrets.PYPI_PAK }}

  verify-distribution:
    runs-on: ubuntu-latest
    needs:
      - call-version-info-workflow
      - distribute
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v2

      - uses: mamba-org/provision-with-micromamba@v14

      - name: Ensure edlfs v${{ needs.call-version-info-workflow.outputs.version }}} is pip installable
        run: |
          python -m pip install edlfs==${{ needs.call-version-info-workflow.outputs.version_tag }}
