name: Create Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  pull-requests: write

jobs:
  call-release-workflow:
    uses: ASFHyP3/actions/.github/workflows/reusable-release.yml@v0.7.0
    with:
      release_prefix: edlfs
      develop_branch: dev
      sync_pr_label: bot
    secrets:
      USER_TOKEN: ${{ secrets.GITHUB_TOKEN }}
